{% extends 'need/base.html' %}
{% load i18n %}

{% block content %}

<div class="row">
	<div class="col-xs-12 col-md-3">

	</div>
	<div class="col-xs-12 col-md-6">
  		<div class="well">
			{% if need.done %}
			<p>{% trans "status" %} = {% trans "done" %}</p>
			{% else %}
			<p><a class="btn btn-success" href="{% url 'need:done' pk=need.pk  %}">{% trans "Got it!" %}</a></p>
			{% endif %}		
			<p>{{ need.what }}</p>
			<p>{% trans "amount" %} = {{ need.amount }}</p>
			{% get_current_language_bidi as LANGUAGE_BIDI %}
			{% if LANGUAGE_BIDI %}
			<p>{{ need.get_where_display }} = {% trans "where" %}</p>
			{% else %}
			<p>{% trans "where" %} = {{ need.get_where_display }}</p>
			{% endif %}
			<p>{{ need.pub_date }}</p>
			
			{% if user.is_superuser %}
			<!-- Single button -->
			<div class="btn-group text-center">
				<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-trash"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li class="dropdown-header">{% trans "Are you sure?" %}</li>
					<li class="divider"></li>
					<li><a href="{% url 'need:delete' pk=need.pk %}">{% trans "Yes" %}</a></li>
					<li class="divider"></li>
					<li><a href="#">{% trans "No" %}</a></li>
					<li class="divider"></li>
				</ul>
			</div>
			{% else %}
		
			{% endif %}
			
		</div>		
	</div>
	<div class="col-xs-12 col-md-3">
    
	</div>
</div>



{% endblock content %}
