{% extends 'need/base.html' %}
{% load i18n %}

{% block content %}

<div class="row">
	<div class="col-xs-12 col-md-3">

	</div>
	<div class="col-xs-12 col-md-6">
  		<div class="well">
			{% if need.done %}
			<p>{% trans "status" %} = {% trans "done" %}</p>
			{% else %}
			<p><a class="btn btn-success" href="{% url 'need:done' pk=need.pk  %}">{% trans "Got it!" %}</a></p>
			{% endif %}		
			<p>{{ need.what }}</p>
			<p>{% trans "amount" %} = {{ need.amount }}</p>
			{% get_current_language_bidi as LANGUAGE_BIDI %}
			{% if LANGUAGE_BIDI %}
			<p>{{ need.where }} = {% trans "where" %}</p>
			{% else %}
			<p>{% trans "where" %} = {{ need.where }}</p>
			{% endif %}
			<p>{{ need.pub_date }}</p>
		</div>		
	</div>
	<div class="col-xs-12 col-md-3">
    
	</div>
</div>



{% endblock content %}
