{% extends 'need/base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-1">
		
	</div>
	<div class="col-xs-12 col-md-10">
  
		<div class="container">
		
			<form class="form-signin" method="POST" action="{% url 'need:new' %}">{% csrf_token %}
				<h2 class="form-signin-heading">{% trans "New need" %}</h2>
				
				<label for="id_what" class="sr-only">{% trans "what" %}</label>
				<input id="id_what" maxlength="200" name="what" type="text" class="form-control" placeholder="{% trans "what" %}" required autofocus>
								
				<label for="id_amount" class="sr-only">{% trans "amount" %}</label>
				<input id="id_amount" name="amount" type="number" value="1" class="form-control" placeholder="{% trans "amount" %}" required>	
				
				<label for="id_where" class="sr-only">{% trans "where" %}</label>
				<input id="id_where" maxlength="200" name="where" type="text" class="form-control" placeholder="{% trans "where" %}" required>
				
				<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Add" %}</button>
				<input type="hidden" name="next" value="{{ next }}" />
				
				<p></p>
				<div class="alert alert-info alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					"{% trans "what" %}" {% trans "no more than 200 characters." %} 
				</div>
					
				{% if form.errors %}
				<div class="alert alert-warning alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  {{ form.errors }}
				</div>
				{% endif %}
			</form>
	  
		</div>  
		
	</div>
  
	<div class="col-xs-12 col-md-1">
    
	</div>
</div>
{% endblock content %}
