{% extends 'need/base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-1">
    
  </div>
  <div class="col-xs-12 col-md-5">
  
  	<h1>{% trans "New need" %}</h1>
  	
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form method="POST" class="post-form">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="save btn btn-default">{% trans "Add" %}</button>
	</form>
  </div>
  
  <div class="col-xs-12 col-md-5">
    
  </div>
  <div class="col-xs-12 col-md-1">
    
  </div>
</div>
{% endblock content %}
